<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="text-center">
            <h2>Archives</h2>
        </div>
        <hr>
        <h5>Catégories</h5>
        <ul>
            {% for cat in categories %}
                <li {% if term.slug == cat.slug %}class="active"{% endif %}><a href="{{blog.link}}category/{{cat.slug}}">{{cat.name}}</a></li>
            {% endfor %}
        </ul>
        <h5 class="mt-10">Années</h5>
        {% if dates is iterable %}
            <ul>
                {% for date in dates %}
                    <li><a href="{{ dates.link }}">{{ dates.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                {# dates is probably a string #}
                <li><a href="{{ dates.items[0]["link"] }}">{{ dates.items[0]["name"] }}</a></li>
            </ul>
        {% endif %}
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="text-center">
            <h2>Site Map</h2>
        </div>
        <hr>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Politique de confidentialité</a></li>
        </ul>
        <hr>
        <div class="text-center">
            <h5>Lien(s) externe(s)</h5>
        </div>
        <ul>
            <li><a href="">Pôle Universitaire Leonard de Vinci</a></li>
            <li><a href="">Institut de l'Internet et du Multimédia</a></li>
        </ul>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="text-center">
            <h2>Informations</h2>
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloremque, fugiat maxime minus nulla obcaecati officiis veritatis. Aliquam aliquid, animi dolorem facere, ipsam itaque nihil perferendis, quia saepe sed voluptas.</p>

    </div>
</div>
<hr>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="text-center">
        <p class="footer">Copyright Devlab {{"now"|date('Y')}}</p>
    </div>
</div>


