{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

			<img class="img-fluid mt-20" src="{{ post.thumbnail.src }}">

			<div class="text-center">
				<small><i>Illustration de l'article...</i></small>
			</div>

			<hr>

			<section class="article-content">

				<div class="text-center">
					<h1 class="article-h1">{{ post.title }}</h1>
				</div>

				<hr>

				<p class="blog-author">
					<span>Par</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p>

				<div class="article-body">
					{{post.content}}
				</div>

			</section>

			<!-- comment box -->
			<section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
						<h2> Commentaires de l'article </h2>
						{% for cmt in post.comments %}
							{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section>
		</article>
{% endblock %}
