{% extends "tease.twig" %}

{% block content %}
    <div class="card" style="width: 100%;">
      {% if post.thumbnail.src %}
        <img src="{{post.thumbnail.src}}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{{post.link}}">{{post.title}}</a></h5>
        <p class="card-text">{{post.preview.length(25)}}</p>
        <a href="{{post.link}}" class="btn btn-primary btn-block">Lire l'article</a>
      </div>
    </div>
 {% endblock %}
